*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 10px;
    height: 100%;
}

.fd {
    display: flex;
}

.fdFlow {
    flex-flow: column wrap;
}

.txtCen {
    text-align: center;
}

body {
    position: relative;
}

/* header css */
header {
    padding: .5rem 1rem;
    background-color: rgba(100,0,0,.5);
    flex: 0;
    flex-flow: row wrap;
    justify-content: space-between;
}

header div h1 {
    font-size: 4.5rem;
}

header ul {
    list-style: none;
    display: inline-flex;
}

header ul li button {
    outline: none;
}

header ul li button:hover {
    cursor: pointer;
}

/* body css */
body .mainArticle {
    flex: 1;
}

/* main Article */
.mainArticle .mainList li h3 {
    padding: .25rem .5rem;
    font-size: 2.5rem;
    background-color: rgba(0,100,0,.5);
}

.mainList li:hover {
    cursor: pointer;
}

/* sections */
body .loginRegisterMenu, body .noteMenu {
    position: fixed;
    background-color: rgba(0,0,0,.7);
    color: white;
}

body .loginRegisterMenu {
    padding: 1rem 2rem;
    height: 15rem;
    width: 40rem;
    top: 30%;
    left: 50%;
    margin-top: -7.5rem;
    margin-left: -20rem;
}

body .noteMenu {
    padding: 1rem 1.5rem;
    height: 25rem;
    width: 35rem;
    top: 20%;
    left: 50%;
    margin-left: -17.5rem;
}

.hiddenSection {
    visibility: hidden;
}

button.hiddenSection {
    width: 0;
}

/* closeBtn for sections */

section .closeBtn {
    position: absolute;
    width: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.noteMenu .closeBtn {
    right: 1rem;
}

.loginRegisterMenu .closeBtn {
    left: 38.9rem;
    top: -.2rem;
}

section .closeBtn:hover {
    cursor: pointer;
}

section p, section textarea {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section p label, section p input, section textarea, section input {
    line-height: 2.25rem;
    font-size: 2.25rem;
}

/* notemenu */
.noteMenu input {
    line-height: 2.5rem;
    font-size: 2.25rem;
}

.noteMenu textarea {
    margin: .55rem 0;
    flex: 1;
    resize: none;
    line-height: 2rem;
    font-size: 1.75rem;
}

.noteMenu .extraInput {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.noteMenu .extraInput p {
    width: 22%;
}
.noteMenu .extraInput p label{
    font-size: 1.5rem;
}

.noteMenu .extraInput p input{
    line-height: 1.8rem;
}

/* footer css */
footer {
    flex: 0;
}
