*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 10px;
    height: 100%;
}

.fd {
    display: flex;
}

.fdFlow {
    flex-flow: column wrap;
}

.txtCen {
    text-align: center;
}

body {
    position: relative;
}

/* header css */
header {
    padding: .5rem 1rem;
    background-color: rgba(100,0,0,.5);
    flex: 0;
    flex-flow: row wrap;
    justify-content: space-between;
}

header div h1 {
    font-size: 4.5rem;
}

nav {
    position: relative;
    z-index: 5;
}

nav ul {
    z-index: 5;
}

nav ul li {
    z-index: 3;
}

header ul {
    list-style: none;
    display: inline-flex;
}

nav .userPanel {
    align-items: center;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    padding: .5rem 0;
    width: 8.5rem;
    top: 4rem;
    right: -20rem;
    opacity: 0;
}

.userPanel.animAct {
    transition: all .2s;
}

nav .userPanel.panelInactive {
    z-index: 0;
    right: 1rem;
    transform: translateY(2rem);
}

nav .userPanel.panelActive {
    opacity: 1;
    right: 1rem;
    transform: translateY(4rem);
}

nav .userPanel li {
    margin: .1rem 0;
    width: 8rem;
}

nav .userPanel li button {
    border-radius: .5rem;
    border: none;
    outline: none;
    color: white;
    box-shadow: .2px 1px 5px white;
    background-color: rgba(255,255,255,.2);
    width: 100%;
}

nav .userPanel li button:hover {
    background-color: white;
    color: black;
}

header ul li button {
    outline: none;
}

header ul li button:hover {
    cursor: pointer;
}

/* body css */
body .mainArticle {
    flex: 1;
}

.pfpContainer {
    position: relative;
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
}

.pfpContainer.pfpClickable {
    cursor: pointer;
}

.pfpContainer.pfpClickable:hover:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255,255,255,.2);
}

.userSettings p .pfpContainer.pfpClickable:hover:after{
    position: absolute;
    content: "x";
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    font-size: 5rem;
    text-align: center;
}


.pfp {
    object-fit: cover;
    margin-top: 5%;
    margin-left: 5%;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    font-size: 20px;
}

.loginRegisterMenuBtn.disabled {
    position: fixed;
}

.nonProfilePfp {
    height: 5rem;
    width: 5rem;
}

.loggedInUL {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}

/* main Article */
.mainArticle .orderListCon {
    background-color: cadetblue;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.mainArticle .orderListCon select {
    height: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: auto;
    background-color: cadetblue;
    color: whitesmoke;
    text-shadow: rgba(255,255,255,.2) 1px 2px 1px;
    outline: none;
    border: none;
    font-weight: 600;
}

.mainArticle .mainList li h3 {
    padding: .25rem .5rem;
    font-size: 2.5rem;
    background-color: rgba(0,100,0,.5);
}

.mainList li:hover {
    cursor: pointer;
}

input, textarea {
    border-radius: .75rem;
    padding: 0 .25rem;
}

input:hover, textarea:hover {
    box-shadow: .05rem .1rem .5rem blanchedalmond;
}

input:disabled:hover, textarea:disabled:hover {
    box-shadow: none;
}

/* sections */
body .loginRegisterMenu, body .noteMenu, body .userSettings {
    position: fixed;
    background-color: rgba(0,0,0,.7);
    color: white;
}

body .loginRegisterMenu {
    padding: 1rem 2rem;
    height: 15rem;
    width: 40rem;
    top: calc(30% - 7.5rem);
    left: calc(50% - 20rem);
}

body .noteMenu {
    padding: 1rem 1.5rem;
    height: 30rem;
    width: 45rem;
    top: 20%;
    left: calc(50% - 22.5rem);
}


body .userSettings {
    padding: 1rem 1rem;
    height: 35rem;
    width: 40rem;
    left: 50%;
    transition: transform .35s;
    transform: translateX(-20rem);
    top: calc(20% - 5rem);
}

.loginRegisterMenu > p, .noteMenu > p, .userSettings > p {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.userSettings > p:nth-child(3) {
    justify-content: start;
}

section label, section textarea, section input {
    line-height: 2.25rem;
    font-size: 2.25rem;
}


.hiddenSection {
    z-index: 0;
    visibility: hidden;
}

.activeSection {
    z-index: 7;
}

button.hiddenSection {
    width: 0;
}

/* closeBtn for sections */

section .closeBtn {
    position: absolute;
    width: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.noteMenu .closeBtn {
    top: 0;
    right: 1rem;
}

.loginRegisterMenu .closeBtn {
    left: 38.9rem;
    top: -.2rem;
}

section .closeBtn:hover {
    cursor: pointer;
}

/* loginRegisterMenu*/
.registerRN p:nth-child(2):hover:after, .registerRN .focusTT:nth-child(2):after{
   position: absolute;
   right: 0;
   bottom: 100%;
   font-size: 1.15rem;
   padding: .25rem .5rem;
   background-color: grey;
   content: "6 characters minimum";
}

.registerRN p:nth-child(3):hover:after, .registerRN .focusTT:nth-child(3):after{
    position: absolute;
    right: 0;
    bottom: 100%;
    font-size: 1rem;
    padding: .25rem .5rem;
    background-color: grey;
    content: "6 characters minimum. One uppercase character.";
}

/* notemenu */
.noteMenu input {
    line-height: 2.5rem;
    font-size: 2.25rem;
}

.noteMenu textarea {
    margin: .55rem 0;
    flex: 1;
    resize: none;
    line-height: 2rem;
    font-size: 1.75rem;
}

.noteMenu .extraInput {
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.noteMenu .extraInput > p:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.noteMenu .extraInput > p:nth-child(2){
    flex: 3;
    display: flex;
    justify-content: flex-end;
    padding-right: .5rem;
}

.noteMenu.userEdit .extraInput > p:nth-child(2){
    padding: 0;
    justify-content: center;
}

.noteMenu .extraInput p:nth-child(3){
    display: flex;
    justify-content: flex-end;
    flex: 0;
}

.noteMenu .extraInput p label{
    font-size: 1.5rem;
}

.noteMenu .extraInput p input{
    line-height: 1.8rem;
}

/* user settings */

body section.userSettings.asideOpen {
    transform: translateX(-32.5rem);
}

.userSettings .closeBtn {
    top: 0;
    right: 1rem;
}

.userSettings > p {
    align-items: center;
}

.userSettings > p:nth-child(3) {
    padding: 0 1rem;
}

.userSettings > p:nth-child(4) {
    padding: 0 2rem;
}

.userSettings .closeBtn + p {
    justify-content: flex-start;
}

.userSettings .closeBtn + p > button {
    margin: 0 .5rem;
}

.userSettings > p label, input, aside label, aside input {
    line-height: 2rem;
    font-size: 2rem;
}

.userSettings > p:nth-child(2) > .uploadLabel {
    margin-left: 1rem;
    padding: .25rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,.2);
}

.userSettings > p:nth-child(2) > .uploadLabel:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255,255,255,.7);
}

.userSettings p .pfpContainer {
    display: inline-block;
    height: 8rem;
    width: 8rem;
}

.userSettings P #userpfpInput {
    position: fixed;
    right: 100%;
    visibility: hidden;
}

.userSettings > div {
    width: 95%;
    border: .1rem solid grey;
    border-radius: 1.5rem;
    margin: .5rem .75rem;
    padding: 1rem 1.75rem 0 1.75rem;
    font-size: 1.75rem;
}

.userSettings > div p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.userSettings > div > P > button {
    color: whitesmoke;
    font-size: 1.6rem;
    padding: .25rem .75rem;
    margin-top: -.15rem;
    margin-right: -.75rem;
    background: none;
    border: none;
    outline: none;
}

.userSettings > div > .userSidePanelBtn > button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.2);
    border-radius: 2rem;
}

.userSettings > p {
    margin-bottom: 1rem;
}

.userSettings > aside.userSidePanel {
    position: fixed;
    transition: all .2s;
    left: 50%;
    transform: translateX(5rem);
    z-index: 1;
    height: 10rem;
    width: 23.1rem;
    margin-top: 16.5rem;
    padding: .5rem;
    background-color: rgba(0,0,0,.7);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.userSettings > aside.userSidePanel.hiddenSection {
    opacity: 0;
}

.userSettings > aside.userSidePanel.activeSection {
    opacity: 1;
    transform: translateX(20.5rem);
    /* left: calc(50% + 8rem); */
}

.userSettings > aside.userSidePanel > p {
    margin-bottom: 1rem;
}

.userSettings > aside.userSidePanel > p:nth-child(2) {
    justify-content: flex-end;
}

.userSettings .saveProfileBtnCon {
    margin-top: auto;
    margin-bottom: 0;
}

/* footer css */
footer {
    flex: 0;
}
